# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Generated content
# keep directories but ignore files inside if desired
# generated/images/*
# generated/pdf/*
